<input type="file" (change)="fileChangeEvent($event)" #inputFile />
<br />
<br />
<button (click)="resetImage()">Reset image</button>
<br />
<button (click)="zoomOut()">Zoom -</button>
<button (click)="zoomIn()">Zoom +</button>
<button (click)="savePhoto()">Save</button>

<div>
  <image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [containWithinAspectRatio]="containWithinAspectRatio"
    [aspectRatio]="4 / 5"
    [resizeToWidth]="620"
    [cropperMinWidth]="788"
    [hideResizeSquares]="showResizeSquares"
    [onlyScaleDown]="true"
    [roundCropper]="false"
    [transform]="transform"
    [alignImage]="'left'"
    [style.display]="showCropper ? null : 'none'"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (cropperReady)="cropperReady($event)"
  ></image-cropper>
</div>
<img
  [src]="croppedImage"
  [style.border]="croppedImage ? '1px solid black' : 'none'"
/>
